<%- include("../partials/admin/header.ejs") %> 
<style>
    .error-msg{
        color: red;
    }
</style>
<div class="card-body">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <!-- Add Category Form -->
        <div class="col-md-6">
            <h2 class="content-title card-title text-center">Create Category </h2>
            <form action="#" onsubmit="addCategory(event)" id="addCategoryForm" method="post">
                <div class="mb-4">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" placeholder="Type here" class="form-control" name="name" id="name" />
                    <div class="error-msg" id="error1"></div>
                </div>
                <div class="mb-4">
                    <label for="parent" class="form-label">Parent Category</label>
                    <select name="parent" class="form-select" id="parent">
                        <option value="">Select Parent Category</option>
                        <% parentCategory.forEach((parent) => { %>
                            <option value="<%= parent._id %>" <%= category.parent == parent._id ? 'selected' : '' %>>
                                <%= parent.name %>
                            </option>                          
                        <% }); %> 
                    </select>
                    <div class="error-msg" id="error2"></div>
                </div> 
                <div class="mb-4">
                    <label class="form-label">Offer</label>
                    <input placeholder="Category Offer%" name="offer" id="offer" class="form-control"></input>
                </div>
                <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea placeholder="Type here" name="description" id="description" class="form-control"></textarea>
                    <div class="error-msg" id="error3"></div>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Create Category</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="/scripts/admin/addCategory.js" ></script>
    

<%- include("../partials/admin/footer.ejs") %> 
