<%- include("../partials/admin/header.ejs") %>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/admin/coupen.css">
<body>
    <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Coupon List</h2>
          </div>
        </div>
        <div class="card mb-4">
          <header class="card-header">
            <div class="row align-items-center">
              <!-- Search bar (category filter) on the left side -->
              <div class="col-md-4 col-12 me-auto mb-md-0 mb-3">
                <form  action="/admin/coupen" id="couponSearchForm">
                  <input
                    type="text"
                    id="couponSearch"
                    class="form-control"
                    placeholder="Search Coupons..."
                    aria-label="Search Coupons"
                    name="searchTerm"
                  >
                </form>
              </div>
              <!-- Add Coupon button on the right side -->
              <div class="col-md-4 col-12 text-end">
                <a href="/admin/add-coupen" class="btn btn-secondary">Add Coupon</a>
              </div>
            </div>
            
          </header>
      
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Discount Amount</th>
                  <th>Min Order Value</th>
                  <th>Start Date</th>
                  <th>Expire Date</th>
                  <th>Usage Limit</th>
                  <th>IsActive</th>
                  <th>Action</th> <!-- Action column added -->
                </tr>
              </thead>
              <tbody id="tableBody">
                <% if(coupen && coupen.length > 0){%>

                    <% for(let i=0 ; i < coupen.length ; i++){ %>
                    <tr>
                      <td><%= coupen[i].code %></td>
                      <td><%= coupen[i].discountPercentage %></td>
                      <td><%= coupen[i].minOrderValue %></td>
                      <td><%= new Date(coupen[i].createdAt).toLocaleDateString("en-GB") %></td>
                      <td><%= new Date( coupen[i].expiredAt).toLocaleDateString("en-GB") %></td>
                      <td><%= coupen[i].usageLimit %></td>
                      <% if(coupen[i].isActive) { %>
                        <td>
                          <button class="btn btn-success btn-sm " onclick="inActive(event,'<%= coupen[i].code %>')">Active</button>
                        </td>
                        <% } else { %>
                        <td>
                          <button  class="btn btn-danger btn-sm " onclick="Active(event,'<%= coupen[i].code %>')">InActive</button>
                        </td>
                    <% } %>
                    
                    
                      <td class="table-action-icons " >
                        <a href="/admin/edit-coupon?id=<%= coupen[i]._id %>" class="btn btn-sm btn-warning">Edit</a>
                        <a onclick=" return deleteCoupen('<%= coupen[i]._id %>')" class="btn btn-sm btn-danger">Delete</a>
                      </td>
                    </tr>
                    <%}%>
                    <%}else{%>
                        <h3> Empty</h3> 
                        <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </section>
</body>
<!-- SweetAlert2 CSS and JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/admin/coupen.js" ></script>
<%- include("../partials/admin/footer.ejs") %>

