<%-include("../partials/admin/header.ejs")%>
<head>
    <style>
        .error-msg{
            color: red;
        }
    </style>
</head>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <form action="/admin/editCategory" id="editCategory" method="post" class="p-4 shadow rounded bg-white">
            <h2 class="text-center mb-4">Edit Category</h2>
            <div class="mb-4">
                <label for="product_name" class="form-label">Name</label>
                <input type="text" value="<%=category.name%>" placeholder="Type here" class="form-control" name="name" id="name" />
                <div class="error-msg" id="error1"></div>
            </div>
           
            <div class="mb-4">
                <label for="parent" class="form-label">Parent Category</label>
                <select name="parent" class="form-select" id="parent">
                    <option value="">Select Parent Category</option>
                    <% parentCategory.forEach((parent) => { %>
                        <option value="<%= parent._id %>" <%= category.parent == parent._id ? 'selected' : '' %>>
                            <%= parent.name %>
                        </option>
                    <% }); %>
                </select>
                <div class="error-msg" id="error2"></div>
            </div>
            <div class="mb-4">
                <label class="form-label">Offer</label>
                <input type="number" name="offer" value="<%= category.categoryOffer %>">
            </div>
            <div class="mb-4">
                <label class="form-label">Description</label>
                <input type="hidden" name="_id" value="<%= category._id %>">
                <textarea placeholder="Type here" name="description" id="description" class="form-control"><%= category.description %></textarea>
                <div class="error-msg" id="error3"></div>
            </div>
            
            <div class="d-grid">
                <button class="btn btn-primary" type="submit">Edit category</button>
            </div>
        </form>
    </div>
</div>
<script src="/scripts/admin/edit-category.js" ></script>
<%- include("../partials/admin/footer.ejs") %>
